body{
    background-color: rgb(98, 98, 98);

}

/*Giving style to the counter*/
#counter{
    color: #FFF;
    font-weight: bolder;
    font-size: 1.5em;
}

/*Change the colour of the title*/
h1{
    color: whitesmoke;
}

/*adding bottom margin between container div and setting div*/
#container{
    margin-top: 10px;
    display: inline-grid;
}

/*removing spaces between the cells */
table {
    border-spacing: 0;
}

/*giving a red border to the the table in case of loosing*/
.red_border{
    border: 5px red solid;
}

/*removing the padding between the cells of the table*/
td{
    background-color: rgb(195, 195, 195);
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border: 1px solid black;
    text-align: center;
    font-size: 1.5em;

}

/*hiding the value of the btn*/
.hide_cell_value{
    text-indent: -9000px;
}

/*show the value behind the btn*/
.show_cell_value, .clicked_mine{
    background-color: rgb(195,195,195);
    text-indent: 0;
}

/*giving style to clicked mine*/
.clicked_mine{
    border: 4px black solid;
    background-color: red;
}

/*giving a style to an empty btn*/
.empty_cell{
    background-color: rgb(168, 164, 164);
    border: 2px black solid;
    border-radius: 5%;
    display: block;
}

/*msg notification*/
.msg{
    text-align: center;
    margin: 0;
}

.loosing_msg{
    color: red;
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 5px;
}

/*restart button*/
.restart_button, #start_button{
    background-color: red;
    color: #000;
    padding: 5px 20px;
    font-weight: bolder;
    font-size: 1em;
    margin-bottom: 5px;
    font-variant: small-caps;
}

.restart_button:hover{
    background-color: white;
    border: 2px red solid;
    color: black;
    font-weight: bolder;
    font-size: 1em;
    margin-bottom: 5px;
    font-variant: small-caps;
}